<?xml version="1.0" encoding="UTF-8"?>
<Sedas>
  <trbBGwindow>30</trbBGwindow>
  <btnBeforeBGColor>-13487416</btnBeforeBGColor>

  <btnAfterBGColor>-1</btnAfterBGColor>

  <tbxGridColumnCount>20</tbxGridColumnCount>

  <tbxGridRowCount>20</tbxGridRowCount>

  <tbxGridVer>1</tbxGridVer>

  <tbxGridHor>1</tbxGridHor>

  <tbxGridThick>1</tbxGridThick>

  <tbxGridVThick>1</tbxGridVThick>

  <btnGridColor>-9404272</btnGridColor>

  <btnMarkerColor>-8323328</btnMarkerColor>

  <trbMarker>150</trbMarker>

  <tbxLineThick>1</tbxLineThick>

  <btnLineColor>-8388353</btnLineColor>

  <tbxPolyThick>5</tbxPolyThick>

  <btnPolyLineColor>-4144960</btnPolyLineColor>

  <btnPolyFaceColor>-8388353</btnPolyFaceColor>

  <chkPolyTransparent>False</chkPolyTransparent>

  <btnFontFamily>맑은 고딕</btnFontFamily>

  <tbxFontsize>32</tbxFontsize>

  <btnFontColor>-16777216</btnFontColor>

</Sedas>